.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  align-items: center;
  justify-content: center;
  transition: all 0.44s ease-in-out;
  box-shadow: none;
  border-radius: 4px;
  transform: scale(1);
}

.card-container:hover {
  -webkit-box-shadow: 0px 0px 23px 0px rgba(31, 31, 31, 0.22);
  -moz-box-shadow: 0px 0px 23px 0px rgba(31, 31, 31, 0.22);
  box-shadow: 0px 0px 23px 0px rgba(31, 31, 31, 0.22);
  transform: scale(1.05);
}

h1 {
  font-size: 22px;
  margin-bottom: 0;
  line-height: 1;
  font-family: 'Edu QLD Beginner', cursive;
}

h2 {
  font-size: 14px;
  font-weight: 400;
}
