body {
  background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
  animation: animate 1.2s linear infinite;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.App {
  max-width: 80vw;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.app-title {
  text-align: center;
  font-size: 62px;
  color: #fff;
  margin-bottom: 22px;
  font-family: 'Edu QLD Beginner', cursive;
}
